<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SqueezeNet: Image recognition</h1>
<form method="post" enctype="multipart/form-data" action="/">
    <p>Upload an image file：</p>
    <p><input type="file" name="file" accept=".png,.jpg,jpeg"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
{% if result %}
<h2>Result:</h2>
<table>
    <tr>
        <th>Category</th>
        <th>Probability</th>
        <th>Confidence</th>
    </tr>
    {% for item in result %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>
            <progress max="1" value="{{ item[1] }}"/>
        </td>
        <td>{{ "%.3f%%" | format((item[1]|float)*100) }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>